/* helper class to add borders to all elements for debugging */
.content * {
  /* border: 1px solid red; */
}

.header {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.headerTitle {
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
  color: black;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  /* width: 100%; */
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 8px 0;
  border: 0.5px solid black;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: inherit;
}

.jarButton {
  height: 300px;
  border: none;
  background-image: url("../../public/assets/jar-311089_1920.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.jarButton:hover {
  background-image: url("../../public/assets/jar-311089_1920_pink.png");
  cursor: pointer;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.drawButton {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  height: 150px;
  background-image: url("../../public/assets/blot.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.drawButton:hover {
  background-image: url("../../public/assets/blot-red.png");
  background-size: 50% 100%;
  background-position: center;
  border: none;
  cursor: pointer;
}

.generatedWord {
  background-image: url("../../public/assets/paper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;

  padding: 10px 20px;
}

.funnyAnimal {
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: url("../../public/assets/frame-1192320.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: 100%;
}

.image {
  max-width: 100%;
  height: 100%;
  margin-top: 80px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.resetButtonContainer {
  margin-top: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.resetButton {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  gap: 10px; /* Space between text and image */
  font-size: 2em;
}

.resetArrow {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
}

.resetButton:hover {
  background-image: none;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .buttonContainer {
    flex-direction: row;
  }

  .container {
    padding: 40px;
  }

  .header {
    padding: 30px 0;
  }

  .headerTitle {
    font-size: 3em;
  }

  .image {
    margin-bottom: 80px; /* More space below the image on larger screens */
  }

  .resetButtonContainer {
    margin-left: 40px; /* More left margin on larger screens */
    margin-bottom: 60px; /* More bottom margin on larger screens */
    right: 40px;
    top: 40px;
  }

  .buttonRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
    width: 100%;
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.footer {
  font-size: 0.5em;
  margin-left: 10px;
  border-top: 1px solid black;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wordContainer {
  margin-bottom: 20px;
  min-height: 60px; /* Adjust based on your button height */
  display: flex;
  justify-content: center;
  align-items: center;
}
